html
  head
    link(href="/css/styles.css", rel="stylesheet") 

  body
    div(class="container")
      h4(class="h4") Russell's Totally Random Cat Gif of the Day 
      img(src=url)
      p Courtesy of:  
        a(href="http://www.buzzfeed.com/copyranter/the-best-cat-gif-post-in-the-history-of-cat-gifs") Buzzfeed
           