body {
        background: black;
        color: white;
}

div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
}

h4 {
        text-transform: uppercase;
}